h1 {
    text-align:center;
    font-size: 3em;
    color: #E9E9E9;
}

h2 {
    text-align:center;
    font-size: 2em;
    color: #E9E9E9;
}

.centerDiv {
    background-color: #4EB1BA;
    border-radius: 25px;

    text-align: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
