/*Colors: #E9E9E9, #4EB1BA, #222930*/

h1 {
    text-align:center;
    font-size: 3em;
    color: #E9E9E9;
}

h2 {
    text-align:center;
    font-size: 2em;
    color: #E9E9E9;
}

.centerDiv {
    background-color: #4EB1BA;
    border-radius: 25px;

    text-align: center;

    margin: auto;
}
